@{
    ViewData["Title"] = "My Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quotes</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br>
    <ul>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="My" asp-action="Content">MyContent</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="My" asp-action="Json">MyJson</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="My" asp-action="Html">MyHtml</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="My" asp-action="Joke">MyView</a></li>
       
    </ul>
</div>